<style>
    div {
  display: inline-block;
  position: absolute;
  margin: 0 auto;
  /* top: 100%; */
  font-size: 80px;
  color: #FFF;
  width: 100%;
  font-weight: 400;
}
div.Words{
    top:150px;
    
}
h2.start {
  
  display: inline-block;
  position: absolute;
  margin: 0 auto;
  /* top: 100%; */
  font-size: 40px;
  color: #C0B3A0;
  width: 100%;
  font-weight: 400;
  float: left;
}

.rw-words{
	display: inline;
}

/* Animated Text Effect */

.rw-words-1 span{
  display: inline-block;
	position: absolute;
	opacity: 0;
	margin-left: 570px;
  overflow: hidden;
	-webkit-animation: rotateWord 15s linear 0s infinite;
	-moz-animation: rotateWord 15s linear 0s infinite;
	-o-animation: rotateWord 15s linear 0s infinite;
	-ms-animation: rotateWord 15s linear 0s infinite;
	animation: rotateWord 15s linear 0s infinite;
  color: #CCC;
}

.rw-words-1 span:nth-child(1) {
  -webkit-animation-delay: 0s; 
	-moz-animation-delay: 0s; 
	-o-animation-delay: 0s; 
	-ms-animation-delay: 0s; 
	animation-delay: 0s; 
  color: #9b59b6;
}

.rw-words-1 span:nth-child(2) { 
    -webkit-animation-delay: 3s; 
	-moz-animation-delay: 3s; 
	-o-animation-delay: 3s; 
	-ms-animation-delay: 3s; 
	animation-delay: 3s; 
	color: #2ecc71;
}
.rw-words-1 span:nth-child(3) { 
    -webkit-animation-delay: 6s; 
	-moz-animation-delay: 6s; 
	-o-animation-delay: 6s; 
	-ms-animation-delay: 6s; 
	animation-delay: 6s; 
	color: #f1c40f;	
}
.rw-words-1 span:nth-child(4) { 
    -webkit-animation-delay: 9s;
	-moz-animation-delay: 9s; 
	-o-animation-delay: 9s; 
	-ms-animation-delay: 9s; 
	animation-delay: 9s; 
  color: #FC4349;	
}

.rw-words-1 span:nth-child(5) { 
    -webkit-animation-delay: 12s; 
	-moz-animation-delay: 12s; 
	-o-animation-delay: 12s; 
	-ms-animation-delay: 12s; 
	animation-delay: 12s;
  color: #3498db;
}

@-webkit-keyframes rotateWord {
    0% { opacity: 0; }
    2% { opacity: 0; -webkit-transform: translateY(-30px); }
	5% { opacity: 1; -webkit-transform: translateY(0px);}
    17% { opacity: 1; -webkit-transform: translateY(0px); }
	20% { opacity: 0; -webkit-transform: translateY(30px); }
	80% { opacity: 0; }
    100% { opacity: 0; }
}
@-moz-keyframes rotateWord {
    0% { opacity: 0; }
    2% { opacity: 0; -moz-transform: translateY(-30px); }
	5% { opacity: 1; -moz-transform: translateY(0px);}
    17% { opacity: 1; -moz-transform: translateY(0px); }
	20% { opacity: 0; -moz-transform: translateY(30px); }
	80% { opacity: 0; }
    100% { opacity: 0; }
}
@-o-keyframes rotateWord {
    0% { opacity: 0; }
    2% { opacity: 0; -o-transform: translateY(-30px); }
	5% { opacity: 1; -o-transform: translateY(0px);}
    17% { opacity: 1; -o-transform: translateY(0px); }
	20% { opacity: 0; -o-transform: translateY(30px); }
	80% { opacity: 0; }
    100% { opacity: 0; }
}
@-ms-keyframes rotateWord {
    0% { opacity: 0; }
    2% { opacity: 0; -ms-transform: translateY(-30px); }
	5% { opacity: 1; -ms-transform: translateY(0px);}
    17% { opacity: 1; -ms-transform: translateY(0px); }
	20% { opacity: 0; -ms-transform: translateY(30px); }
	80% { opacity: 0; }
    100% { opacity: 0; }
}
@keyframes rotateWord {
    0% { opacity: 0; }
    2% { opacity: 0; transform: translateY(-30px); }
	5% { opacity: 1; transform: translateY(0px);}
    17% { opacity: 1; transform: translateY(0px); }
	20% { opacity: 0; transform: translateY(30px); }
	80% { opacity: 0; }
    100% { opacity: 0; }
}

.text{
    bottom: 40px;
}
</style>


<div class="Words">
    <h2 class="start">Find out<strong>W</strong>hats<strong>H</strong>appening</h2>
    <div class="rw-sentence rw-words rw-words-1">
        <span>Now.</span>
        <span>Later.</span>
        <span>Next week.</span>
        <span>Tomorrow.</span>
        <span>With your friends.</span>
        
    </div>
</div>