<div class="container">
    <h1>Create a New Group</h1>
    <form ng-submit="controller.addGroup(group)">
        <md-input-container class="md-block" md-no-float>
            <div layout="row" flex>
                <ng-md-icon icon="group" style="fill:#4527A0"></ng-md-icon> 
                <input ng-required="true" name="Name" ng-model="group.name" placeholder="Group Name" />
            </div>
        </md-input-container>
        <br />
        <md-input-container class="md-block" md-no-float>
            <div layout="row" flex>
                <ng-md-icon icon="add_location" style="fill:#4527A0"></ng-md-icon>
                <input ng-required="true" name="Location" ng-model="group.location" placeholder="Where is your group based?" />
            </div>
        </md-input-container>
        <br />
        <md-input-container class="md-block" md-no-float>
            <div layout="row" flex>
                <ng-md-icon icon="description" style="fill:#4527A0"></ng-md-icon>
                <input ng-required="true" name="Description" ng-model="group.description" placeholder="Give a brief description of who your group is and what you do" />
            </div>
        </md-input-container>
        <md-button class="btn1 md-raised md-cornered" ng-disabled="simple.$invalid" type="submit">Add Group</md-button>
        <!--<input type="submit" value="Add Group" />-->
    </form>
</div>
