<br/>
<div id="EventUpdateContainer" class="layout layout-column flex-row f-jc-fs high" layout="row">
    <md-content flex id="content" class="md-default-theme">
        <form name="editEventForm" ng-submit="controller.editEvent(controller.event)">

            <br />
            <md-input-container class="md-block" md-no-float flex="30">
                <label><ng-md-icon icon="label" style="fill:#000000"></ng-md-icon> Edit Event Category</label>
                <md-select ng-model="controller.event.category.name"
                           class="md-select-value">
                    <md-option 
                               ng-repeat="category in controller.categories">
                        {{category.name}}
                    </md-option>
                </md-select>
            </md-input-container>

            <md-input-container class="md-block">
                <div layout="row" flex>
                    <ng-md-icon icon="event" style="fill:#000000"></ng-md-icon>
                    <input required name="name" ng-model="controller.event.name" placeholder="Edit the name of your event" />
                </div>
            </md-input-container>

            
            <md-radio-group ng-model="controller.status.checked" flex="30">
                <label id="eventEditRadioGroup">Is this a private event or a public event?</label>
                <md-radio-button ng-repeat="status in controller.eventStatus"
                                 aria-label="{{status}}"
                                 class="md-primary"
                                 ng-value="status">
                    {{status}}
                </md-radio-button>
            </md-radio-group>
                    

            <br />
            <md-input-container class="md-block">
                <div layout="row" flex>
                    <ng-md-icon icon="add_location" style="fill:#000000"></ng-md-icon>
                    <input required name="location" ng-model="controller.event.location" placeholder="Edit the location of your event" />
                </div>
            </md-input-container>

            <md-input-container class="md-block">
                <div layout="row" flex="30">
                    <ng-md-icon icon="monetization_on" style="fill:#000000"></ng-md-icon>
                    <input required name="admissionPrice" ng-model="controller.event.admissionPrice" placeholder="Edit the admission price for your event" />
                </div>
            </md-input-container>

            <div class="layout-column flex-gt-md-30">
                <md-input-container class="md-input-has-placeholder">
                    <label><ng-md-icon icon="date_range" style="fill:#000000"></ng-md-icon>Start Date/Time</label>
                    <input mdc-datetime-picker="" date="true" time="true" type="text" id="input_0"
                           placeholder="Start date and time" min-date="date" max-date="date" class="md-input" ng-model="controller.event.dateOfEvent" />
                </md-input-container>
            </div>
            <div class="layout-column flex-gt-md-30">
                <md-input-container class="md-input-has-placeholder">
                    <label><ng-md-icon icon="date_range" style="fill:#000000"></ng-md-icon>End Date/Time</label>
                    <input mdc-datetime-picker="" date="true" time="true" type="text" id="input_1"
                           placeholder="End date and time" min-date="date" class="md-input" ng-model="controller.event.endTime" />
                </md-input-container>
            </div>

            <md-input-container class="md-block">
                <div layout="row" flex>
                    <ng-md-icon icon="description" style="fill:#000000"></ng-md-icon>
                    <textarea required name="eventDescription" ng-model="controller.event.description" placeholder="Edit the description for your event"></textarea>
                </div>
            </md-input-container>

            <md-input-container class="md-block">
                <md-button class="submit" type="submit" ng-click="controller.updateEvent(controller.event)">Save Changes</md-button>
                <md-button class="delete" type="submit" ng-click="controller.deleteEvent(controller.event)">Delete</md-button>
            </md-input-container>


        </form>
    </md-content>
</div>

<div id="toastContainer" layout="row" class="md-primary">
</div>