<div class="flex-row content">
    <div class="flex-col sideBarDiv bgnd-rock">
        <ul class="sideBarUList">
            <li><a ui-sref="">Find Events</a></li>
            <li><a ui-sref="createEvent">Create Event</a></li>
            <li><a ui-sref="groups">My Groups</a></li>
        </ul>
    </div>
    <div class="flex-row mainCol containerMainCol" ng-repeat="searchData in controller.eventSearchData">
        <div class="flex-col mainCol">
            <div class="flex-row f-jc-fe mainCol">{{searchData.dateOfEvent}}</div>
            <div class="flex-row f-jc-sa mainCol">
                <img ng-src="{{searchData.imageUrl}}" class="img-fixed" />
                <p class="f-wrap f-as">{{searchData.description}}</p>
            </div>
            <div class="flex-row f-jc-fe mainCol">Add to you events</div>
            <div class="flex-row f-jc-fe mainCol">More Info</div>
        </div>

        <!--9 ng-repeat="searchData" in controller.eventSearchData
        11 {{searchData.dateOfEvent}}
        13 ng-src = {{searchData.imageUrl}}
        14 {{searchData.description}}-->

        <!--<div class="f-jc-sb mainCol">
            <span>There</span>
            <span>Here</span>
            <span>Info</span>
            <span>Go</span>
        </div>-->
    </div>
</div>

<!--<div class="flex-col">
    <div class="flex-row f-jc-fe">Date</div>
    <div class="flex-row f-jc-sa"><span>Hey</span><span>Hey</span></div>
    <div class="flex-row f-jc-fe">More Info</div>
</div>-->
