<div class="flex-row content">
    <div class="flex-col sideBarDiv bgnd-rock">

        <ul class="flex-col sideBarUList p-fixed">

            <!--<li><a ui-sref="">Find Events</a></li>-->

            <li><a ui-sref="eventAdd">Create Event</a></li>
            <li><a ui-sref="mygroups">My Groups</a></li>
            <li><a ui-sref="createGroup">Create a Group</a></li>
            <li><a ui-sref="MyEvents"> My Events</a></li>

        </ul>

    </div>

    
    <div class="flex-row mainCol containerMainCol">
        <div class="flex-col mainCol">
            
            <img ng-src="{{controller.eventSearchData.imageUrl}}" class="img-fixed" />
            <br/>
            <div class="f-jc-c">{{controller.eventSearchData.category.name}}</div>
        </div>
        <div class="flex-col mainCol" >
            <h1 class="ta-center">{{controller.eventSearchData.name}}</h1>
            <h3 class="ta-center">{{controller.eventSearchData.dateOfEvent | date: 'h:mm a EEEE MMMM d, yyyy'}}</h3>
            <h3 class="ta-center">{{controller.eventSearchData.location}}</h3>
            <h4 class="ta-center underline">Admission Price: {{controller.eventSearchData.admissionPrice | currency}}</h4>
            <div class="ta-center">Ends: {{controller.eventSearchData.endTime | date: 'h:mm a EEEE MMMM d, yyyy'}}</div>
            <br/>
            <p class="f-wrap description-width-and-height collapse ta-j">{{controller.eventSearchData.description}}</p>
            <p>Groups Near you Attending this Event:</p>
            <div ng-repeat="g in controller.groups">
                {{g.groupName}}
            </div>
        </div>
       
        <div class="flex-col mainCol f-jc-fe">
            
            <div class="f-jc-fe"><a ng-click="controller.addEvent(searchData)">Add to your events</a></div>
        </div>
        
    </div>




    
    <!--<div class="flex-col mainCol containerMainCol">
        <div class="flex-col mainCol containerMainCol">
            <div class="flex-row f-jc-sb mainCol">
                <div>{{controller.eventSearchData.category.name}}</div>
                <div>Admission Price: {{controller.eventSearchData.admissionPrice | currency}}</div>
            </div>
            <div class="flex-row mainCol">
                <div class="f-jc-fs"><img ng-src="{{controller.eventSearchData.imageUrl}}" class="img-fixed" /></div>
            </div>
            <div class="flex-row f-jc-c mainCol ta-center">
                <h1>{{controller.eventSearchData.name}}</h1>
            </div>
            <div class="flex-row f-jc-c mainCol">
                <h3>{{controller.eventSearchData.dateOfEvent | date: 'h:mm a EEEE MMMM d, yyyy'}}</h3>
            </div>
            <div class="flex-row f-jc-c mainCol">
                <h4>{{controller.eventSearchData.location}}</h4>
            </div>
            <div class="flex-row f-jc-c mainCol">

                <div>Ends: {{controller.eventSearchData.endTime | date: 'h:mm a EEEE MMMM d, yyyy'}}</div>
            </div>
            <br />
            <div class="flex-row f-jc-sa mainCol">

                <p class="f-wrap description-width-and-height collapse f-jc-c ta-j">{{controller.eventSearchData.description}}<a>+Read More</a></p>
            </div>

            <div class="flex-row f-jc-fe mainCol"><a ng-click="controller.addEvent(searchData)">Add to your events</a></div>


        </div>


    </div>-->
</div>


