<br />
<div id="eventAddContainer" class="layout layout-column flex-row f-jc-fs" layout="row">
    <md-content flex id="content" class="md-default-theme">
        <form name="addEventForm" novalidate ng-submit="controller.addEvent(addEvent)">

            <br />
            <md-input-container class="md-block" md-no-float flex="30">
                <label><ng-md-icon icon="label" style="fill:#4527A0"></ng-md-icon>Select a category for your event</label>
                <md-select ng-model="addEvent.category"
                           class="md-select-value"
                           id="eventAddSelect"
                           ng-required="true">
                    <md-option ng-value="category"
                               ng-repeat="category in controller.categories">
                        {{category.name}}
                    </md-option>
                </md-select>
            </md-input-container>

            <md-input-container class="md-block" md-no-float>
                <div layout="row" flex>
                    <ng-md-icon icon="event" style="fill:#4527A0"></ng-md-icon>
                    <input ng-required="true" name="name" ng-model="addEvent.name" placeholder="Enter the name of your event" />
                    <div ng-messages="simple.name.$error"
                         ng-show="simple.name.$dirty">
                        <div ng-message="required">Please provide a name for your event!</div>
                    </div>
                </div>
            </md-input-container>


            <md-radio-group
                            ng-model="addEvent.status"
                            ng-init="addEvent.status=private"
                            flex="30">
                <label id="eventAddRadioGroup">Is this a private event or a public event?</label>
                <md-radio-button ng-repeat="status in controller.eventStatus"
                                 aria-label="{{status}}"
                                 class="md-primary"
                                 ng-value="status">
                    {{status}}
                </md-radio-button>
            </md-radio-group>

            
            <md-input-container class="md-block" md-no-float>
                <div layout="row" flex>
                    <ng-md-icon icon="add_location" style="fill:#4527A0"></ng-md-icon>
                    <input ng-required="true" name="location" ng-model="addEvent.location" placeholder="Enter the location of your event"/>
                    <div ng-messages="simple.location.$error.required"
                        ng-show="simple.location.$dirty">
                        <div ng-message="required">Please provide the location for your event!</div>
                    </div>
                </div>
            </md-input-container>
            <br />

            <!--<md-input-container class="md-block" md-no-float>
                <label class="md-checkbox-label" id="eventAddCheckbox"><ng-md-icon icon="group" style="fill:#4527A0"></ng-md-icon> Select your groups to include in this event (group members will be notified via email)</label>
                <br />
                <div ng-repeat="group in controller.myGroups">
                    <md-switch ng-model="addEvent[group.name]"
                         class="md-primary"
                         ng-value="group.name">
                        {{group.name}}
                    </md-switch>

                </div>
            </md-input-container>-->

            <!--name="selectedGroups">-->
            
            
            <md-input-container class="md-block" md-no-float>
                <div layout="row" flex="30">
                    <ng-md-icon icon="payment" style="fill:#4527A0"></ng-md-icon>
                    <input ng-required="true" name="admissionPrice" ng-model="addEvent.admissionPrice" placeholder="Enter the admission price for your event" />
                </div>
            </md-input-container>
            <br />
            
            <div class="layout-column flex-gt-md-30">
                <md-input-container class="md-block">
                    <label><ng-md-icon icon="date_range" style="fill:#4527A0"></ng-md-icon>Start Date/Time</label>
                    <input mdc-datetime-picker="" date="true" time="true" type="text" id="input_0"
                           placeholder="Start date and time" min-date="date" max-date="date" class="md-input" ng-model="addEvent.startDate" />
                </md-input-container>
            </div>

            <div class="layout-column flex-gt-md-30">
                <md-input-container class="md-block">
                    <label><ng-md-icon icon="date_range" style="fill:#4527A0"></ng-md-icon>End Date/Time</label>
                    <input mdc-datetime-picker="" date="true" time="true" type="text" id="input_1"
                           placeholder="End date and time" min-date="date" class="md-input" ng-model="addEvent.endDate" />
                </md-input-container>
            </div>
               
            <md-input-container class="md-block" md-no-float>
                <div layout="row" flex>
                    <ng-md-icon icon="description" style="fill:#4527A0"></ng-md-icon>
                    <textarea ng-required="true" name="description" ng-model="addEvent.description" placeholder="Enter the description for your event"></textarea>
                </div>
            </md-input-container>

            <md-input-container class="md-block">
                <md-button class="btn1 md-raised md-cornered" ng-disabled="simple.$invalid" type="submit">Add Event</md-button>
            </md-input-container>

</form>
    </md-content>
</div>
<div id="toastContainer" layout="row" class="md-primary">
</div>

