<br />
<div id="eventAddContainer" class="layout layout-column" layout="row">
    <md-content flex id="content" class="md-default-theme">
        <form name="addEventForm" ng-submit="controller.addEvent(addEvent)">
            <md-input-container class="md-select-value">
                <label>Event Category</label>
                <md-select ng-model="addEvent.category"
                           class="md-select-value">
                    <md-option ng-value="category"
                               ng-repeat="category in controller.categories">
                        {{category.name}}
                    </md-option>
                </md-select>
            </md-input-container>
            <md-input-container class="md-block">
                <input required name="name" ng-model="addEvent.name" placeholder="Enter the name of your event" />
            </md-input-container>

            <md-input-container class="md-block">
                <input required name="location" ng-model="addEvent.location" placeholder="Enter the location of your event" />
            </md-input-container>

            <md-input-container class="md-block">
                <input required name="admissionPrice" ng-model="addEvent.admissionPrice" placeholder="Enter the admission price for your event or enter zero if your event is free" />
            </md-input-container>

            <div class="layout-column flex-gt-md-30">
                <md-input-container class="md-input-has-placeholder">
                    <label>Start Date/Time</label>
                    <input mdc-datetime-picker="" date="true" time="true" type="text" id="input_0"
                           placeholder="Start date and time" min-date="date" max-date="date" class="md-input" ng-model="addEvent.startDate" />
                </md-input-container>
            </div>
            <div class="layout-column flex-gt-md-30">
                <md-input-container class="md-input-has-placeholder">
                    <label>End Date/Time</label>
                    <input mdc-datetime-picker="" date="true" time="true" type="text" id="input_1"
                           placeholder="End date and time" min-date="date" class="md-input" ng-model="addEvent.endDate" />
                </md-input-container>
            </div>

               
            <md-input-container class="md-block">
                <textarea required name="description" ng-model="addEvent.description" placeholder="Enter the description for your event"></textarea>
            </md-input-container>

            <md-input-container class="md-block">
                <md-button class="btn1 md-raised md-cornered" type="submit">Add Event</md-button>
            </md-input-container>

</form>
    </md-content>
</div>