<div class="flex-row">
    <div class="flex-col sideBarDiv bgnd-rock">
        <ul class="sideBarUList">
            <li><a ui-sref="">Find Events</a></li>
            <li><a ui-sref="createEvent">Create Event</a></li>
            <li><a ui-sref="groups">My Groups</a></li>
        </ul>

    </div>
    <div class="flex-row mainCol containerMainCol">
        <div class="flex-col mainCol">
            <div class="flex-row f-jc-fe mainCol">Date</div>
            <div class="flex-row f-jc-sa mainCol">
                <img src="../../images/BokehParty.jpeg" class="img-fixed" />
                <p class="f-wrap f-as">Welcome to the event</p>
            </div>
            <div class="flex-row f-jc-fe mainCol">More Info</div>
        </div>

        <!--<div class="f-jc-sb mainCol">
            <span>There</span>
            <span>Here</span>
            <span>Info</span>
            <span>Go</span>
        </div>-->
    </div>
</div>

<!--<div class="flex-col">
    <div class="flex-row f-jc-fe">Date</div>
    <div class="flex-row f-jc-sa"><span>Hey</span><span>Hey</span></div>
    <div class="flex-row f-jc-fe">More Info</div>
</div>-->
