<div class="light-white height100  flex-row width100">

    <div class="flex-col sideBarDiv bgnd-grey">
        <md-card>
            <md-card-actions>
                <md-button class="width100" ui-sref="MyEvents">My Events</md-button>
            </md-card-actions>
        </md-card>
        <md-card>
            <md-card-actions>
                <md-button class="width100" ui-sref="eventAdd">Create an Event</md-button>
            </md-card-actions>
        </md-card>
        <md-card>
            <md-card-actions>
                <md-button class="width100" ui-sref="myGroups">My Groups</md-button>
            </md-card-actions>
        </md-card>
        <md-card>
            <md-card-actions>
                <md-button class="width100" ui-sref="createGroup">Create a Group</md-button>
            </md-card-actions>
        </md-card>
    </div>


    <div class="flex-col ai-c">
        <h1>Find Groups in your Area</h1>

        <div><a ui-sref="myGroups">Go to my groups</a></div>

        <div class="searchbox">
            <h6>Search for a Group:</h6>
            <input type="text" ng-model="search"
                   uib-tooltip="search" tooltip-placement="bottom" />
        </div>

        <div layout="row" layout-wrap>
            <div ng-repeat="group in controller.groups | filter: search:strict">
                <md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch>
                    <div layout="row" layout-align="center center" class="groupcard">
                        <md-card-header>
                            <ng-md-icon icon="group" style="fill:#C0B3A0"></ng-md-icon>
                            <md-card-header-text>
                                <div class="md-title" ui-sref="groupDetails({id:group.id})">{{group.name}}</div>
                            </md-card-header-text>



                        </md-card-header>

                    </div>

                    <md-card-content class="groupcard">

                        <md-card-actions layout="row" layout-align="center center">

                        </md-card-actions>
                </md-card>
            </div>

        </div>

    </div>
</div>


<!--<div ng-repeat="group in controller.groups">
    <div ui-sref="groupDetails({id: group.id})">{{group.name}}</div>

</div>-->
<!--div>
    <md-content class="md-padding" layout-xs="row" layout="row" ng-repeat="group in controller.groups">

            <div flex-lg flex-gt-lg="40" layout="row">

                <md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch>
                    <div layout="row" layout-align="start center">
                        <md-card-header>
                            <md-card-header-text>
                                <div class="md-title" ui-sref="groupDetails({id:group.id})">{{group.name}}</div>
                            </md-card-header-text>
                        </md-card-header>

                    </div>
            </div>

</div>-->
