<div class="light-white height100  flex-row width100">

    <!--<div class="flex-row width100">-->


        <div class="flex-col sideBarDiv bgnd-grey">

            <div class="flex-row">
                <ng-md-icon icon="event" style="fill:#000000" size="36"></ng-md-icon>
                <a class="width100 ai-fe" ui-sref="MyEvents">My Events</a>
            </div>
            <div class="flex-row">
                <ng-md-icon icon="date_range" style="fill:#000000" size="36"></ng-md-icon>
                <a class="width100 ai-fe" ui-sref="eventAdd">Create an Event</a>
            </div>
            <div class="flex-row">
                <ng-md-icon icon="group" style="fill:#000000" size="36"></ng-md-icon>
                <a class="width100 ai-fe" ui-sref="myGroups">My Groups</a>
            </div>
            <div class="flex-row">
                <ng-md-icon icon="group_add" style="fill:#000000" size="36"></ng-md-icon>
                <a class="width100 ai-fe" ui-sref="createGroup">Create a Group</a>
            </div>
        </div>



        <div class="flex-col width100">
            <h1 class="f-jc-c">Find Groups in your Area</h1>
            <div class="flex-row width100">
                <div class="width30"></div>
                <div class="width40"></div>
                <div class="width30">
                    <ng-md-icon icon="search" style="fill:#000000"></ng-md-icon> <!--<h6>Search for a Group:</h6>-->
                    <input type="text" ng-model="search" />
                </div>
            </div>

            <div class="f-jc-c"><a ui-sref="myGroups">Go to my groups</a></div>



            <div layout="row" layout-wrap layout-align="center none">
                <div ng-repeat="group in controller.groups | filter: search:strict">
                    <md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch class="groupcard">
                        <div layout="row" layout-align="center center">
                            <md-card-header>
                                <ng-md-icon icon="group" style="fill:#000000"></ng-md-icon>
                                <md-card-header-text>
                                    <div class="md-title" ui-sref="groupDetails({id:group.id})">{{group.name}}</div>
                                </md-card-header-text>



                            </md-card-header>

                        </div>

                        <md-card-content>

                            <md-card-actions layout="row" layout-align="center center">

                            </md-card-actions>
                    </md-card>
                </div>

            </div>

        </div>
    </div>


<!--<div ng-repeat="group in controller.groups">
    <div ui-sref="groupDetails({id: group.id})">{{group.name}}</div>

</div>-->
<!--div>
    <md-content class="md-padding" layout-xs="row" layout="row" ng-repeat="group in controller.groups">

            <div flex-lg flex-gt-lg="40" layout="row">

                <md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch>
                    <div layout="row" layout-align="start center">
                        <md-card-header>
                            <md-card-header-text>
                                <div class="md-title" ui-sref="groupDetails({id:group.id})">{{group.name}}</div>
                            </md-card-header-text>
                        </md-card-header>

                    </div>
            </div>

</div>-->
