<h1>Find Groups in your Area</h1>

<div><a ui-sref="myGroups">Go to my groups</a></div>



<!--<div ng-repeat="group in controller.groups">
    <div ui-sref="groupDetails({id: group.id})">{{group.name}}</div>

</div>-->

<div>
    <md-content class="md-padding" layout-xs="row" layout="row" ng-repeat="group in controller.groups">
       
            <div flex-xs flex-gt-xs="50" layout="row">

                <md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch>
                    <div layout="row" layout-align="center center">
                        <md-card-header>
                            <md-card-header-text>
                                <div class="md-title" ui-sref="groupDetails({id:group.id})">{{group.name}}</div>
                            </md-card-header-text>
                        </md-card-header>

                    </div>
            </div>
        
</div>

