<div class="width100">
    <div>
        <img class="photo" src="../../images/HomePageGroupProject.jpg" />
    </div>

    <div class="titleBar homeUList Words">
        <!--<li class="homeList">What's Happening Now</li>-->
        <!--<div class="Words">-->
        <!--<h2 class="start">Find out <strong>W</strong>hat's<strong> H</strong>appening</h2>-->
        <!--<div class="content">-->
        <h2 class="start">Find Out What's Happening</h2>
        <div class="rw-sentence rw-words rw-words-1">
            <span>Now.</span>
            <span>Later.</span>
            <span>Next week.</span>
            <span>Tomorrow.</span>
            <span>With your friends.</span>

            <!--</div>-->
        </div>
        <!--</div>-->

    </div>

    <div class="loginInfo">
        Not a user?
        <a ui-sref="register">Register</a>
        <br />
        Already a member?
        <a ui-sref="login">Login</a>
    </div>
</div>







