<h2>User Account Details</h2>
<!--insert get request to fetch user data; no controller assigned yet-->
<div>
    <label>User Name:</label>
    {{controller.userName}}
</div>
<div>
    <label>Email:</label>
    {{controller.email}}
</div>
<div>
    <label>Address:</label>
    {{controller.address}}
</div>
<div>
    <label>Age:</label>
    {{controller.age}}
</div>
<div>
    <label>Metro Area:</label>
    {{controller.metropolitanArea}}
</div>
<div>
    <label>Password:</label>
    {{controller.password}}
</div>

<a ui-sref="myGroups">Go to my groups</a>
