<h1>Group Details</h1>
<div>Group name:  {{controller.group.name}}</div>
<div>Creator: {{controller.group.creator}}</div>
<div> Location: {{controller.group.location}}</div>
<div> About us: {{controller.group.description}}</div>




<h3>Members:</h3>
<div ng-repeat="member in controller.group.members">{{member.userName}}</div>


<h3>Add Events for Your Groups</h3>
<form ng-submit="controller.groupAttend(controller.event.id)">
    <select>

        <option ng-repeat="event in controller.events">{{event.name}}
        </option>
    </select>
<input type="submit" value="Add Event" />    
</form>


<h3> Events this Group is Attending: </h3>
<div ng-repeat="event in controller.group.events">
    {{event.name}}

</div>