<!--<div class="flex-row content">

    <div class="flex-col sideBarDiv">-->

<div id="wrapper">
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                <a href="#">WHN</a>
            </li>

            <li><a href="eventSearch">Find Events</a></li>
            <li><a href="eventAdd">Create Event</a></li>
            <li><a href="mygroups">My Groups</a></li>
            <li><a href="createGroup">Create a Group</a></li>

        </ul>
    </div>
</div>


<!--sample default colors for Angular Material, based on the default theme settings in app.ts-->
<div layout-padding>
    Default colors for Angular Materials Elements
</div>
<div layout="row">
    <div flex="25">
        <md-button>
            (none)
        </md-button>
    </div>
    <div flex="25">
        <md-button class="md-hue-1">
            md-hue-1
        </md-button>
    </div>
    <div flex="25">
        <md-button class="md-hue-2">
            md-hue-2
        </md-button>
    </div>
    <div flex="25">
        <md-button class="md-hue-3">
            md-hue-3
        </md-button>
    </div>
</div>
<md-divider></md-divider>

<div layout-padding>
    Primary Colors
</div>
<div layout="row">
    <div flex="25">
        <md-button class="md-primary">
            md-primary
        </md-button>
    </div>
    <div flex="25">
        <md-button class="md-primary md-hue-1">
            md-primary md-hue-1
        </md-button>
    </div>
    <div flex="25">
        <md-button class="md-primary md-hue-2">
            md-primary md-hue-2
        </md-button>
    </div>
    <div flex="25">
        <md-button class="md-primary md-hue-3">
            md-primary md-hue-3
        </md-button>
    </div>
</div>
<md-divider></md-divider>
    
<div layout-padding>
    Accent Colors
</div>
<div layout="row">
    <div flex="25">
        <md-button class="md-accent">
            md-accent
        </md-button>
    </div>
    <div flex="25">
        <md-button class="md-accent md-hue-1">
            md-accent md-hue-1
        </md-button>
    </div>
    <div flex="25">
        <md-button class="md-accent md-hue-2">
            md-accent md-hue-2
        </md-button>
    </div>
    <div flex="25">
        <md-button class="md-accent md-hue-3">
            md-accent md-hue-3
        </md-button>
    </div>
</div>
<md-divider></md-divider>

<div layout-padding>
    Warn Colors
</div>
<div layout="row">
    <div flex="25">
        <md-button class="md-warn">
            md-warn
        </md-button>
    </div>
    <div flex="25">
        <md-button class="md-warn md-hue-1">
            md-warn md-hue-1
        </md-button>
    </div>
    <div flex="25">
        <md-button class="md-warn md-hue-2">
            md-warn md-hue-2
        </md-button>
    </div>
    <div flex="25">
        <md-button class="md-warn md-hue-3">
            md-warn md-hue-3
        </md-button>
    </div>
</div>
<md-divider></md-divider>

<md-content class="md-padding" layout-xs="column" layout="row">
    <div flex-xs flex-gt-xs="50" layout="column">
        <md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch>
                <md-card-header>
                 <md-card-header-text>
                     <div class="md-title">Party at Rob's Fam</div>
                 </md-card-header-text>
            <md-card-content>
                <p>THE WORLD IS COMING TO AN END</p>
            </md-card-content>
        </md-card>
    </div>
    </md-content>