/*body {
    padding-top: 50px;
    padding-bottom: 20px;
}*/

/* Wrapping element 
 Set some basic padding to keep content from hitting the edges 
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

 Set widths on the form inputs since otherwise they're 100% wide 
input,
select,
textarea {
    max-width: 280px;
}

 Carousel 
.carousel-caption {
    z-index: 10 !important;
}

    .carousel-caption p {
        font-size: 20px;
        line-height: 1.4;
    }

@media (min-width: 768px) {
    .carousel-caption {
        z-index: 10 !important;
    }
}*/

.bgnd-salmon {
    background-color: #E14658;
}

.salmon {
    color: #E14658;
}

.bgnd-navy {
    background-color: #22252C;
}

.navy {
    color: #22252C;
}

.bgnd-purple {
    background-color: #3F3250;
}

.purple {
    color: #3F3250;
}

.bgnd-rock {
    background-color: #C0B3A0;
}

.rock {
    color: #C0B3A0;
}

.high{
    font-size:24px;
    width:1150.5px;
}

.photo {
    position: relative;
    width:1150.5px;
    height:767px;
}

.titleBar {
    position: absolute;
    top:500px;
    width:1150.5px;
    height: 65px;
    background-color:#3f3250;
    font-size:48px;
    color: #C0B3A0;
}

.loginInfo {
    position: absolute;
    top: 800px;
    color: #f2efec;
    padding-left: 525px;
    font-size: 18px;
}

.homeList {
    display:inline;
    width:100%;
}

.homeUList {
    list-style-type: none;
    margin:0;
    padding:0;
    width:1150.5px;
    text-align:center;
}

* {
    font-family:serif;
}

a, ui-sref {
    cursor:pointer;
    color:#C0B3A0;
}

a:hover, ui-sref:hover {
    color:#E14658;
}

.flex-col{
    display: flex;
    flex-direction:column;
    /*background-color: red;*/
}

.flex-row {
    display: flex;
    flex-direction: row;
    /*background-color: blue;*/
}

.sideBarUList {
    list-style-type: none;
    margin:0;
    padding:0;
    /*text-align:center;*/
}

.sideBarDiv {
    width: 30%;
    font-size: 18px;
}

.sideBarDiv>ul>li>a {
    color:#3F3250;
}

.sideBarDiv>ul>li>a:hover {
    color: #E14658;
}

.containerMainCol {
    border:solid;
    border-width:1px;
    border-color:#22252C;
}

.black-border {
    border-bottom: solid;
    border-bottom-width:1px;
    border-bottom-color: #22252C;
}

.mainCol {
    font-size: 18px;
    width: 100%;
}

.content {
    width:1150.5px;
}

.f-jc-sb {
    display:flex;
    justify-content:space-between;
}

.f-wrap {
    display: flex;
    flex-wrap: wrap;
}

.f-jc-fe {
    display:flex;
    justify-content:flex-end;
}

.f-jc-fs {
    display: flex;
    justify-content:flex-start;
}

.f-jc-c {
    display:flex;
    justify-content:center;
}

.f-jc-sa {
    display:flex;
    justify-content:space-around
}

.img-fixed {
    height:100px;
    width:100px;
}

.f-as {
    display:flex;
    align-self:center;
}

.description-width-and-height {
    width: 400px;
    height:auto;
}

.ta-center {
    
    text-align:center;
}

.p-fixed {
    position:fixed;
    height:auto;
    
}

.ai-c {
    display:flex;
    align-items: center;
}