
/*body {
    padding-top: 50px;
    padding-bottom: 20px;

body {
    font-family: 'Roboto', sans-serif;
    /*padding-top: 50px;
    padding-bottom: 20px;*/

/* set attributes for ng-cloak */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}




/*Set widths on the form inputs since otherwise they're 100% wide input,
select,
textarea {
    max-width: 280px;
}

Carousel .carousel-caption {
    z-index: 10 !important;
}

.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

@media (min-width: 768px) {
    .carousel-caption {
        z-index: 10 !important;
    }*/



.bgnd-salmon {
    background-color: #E14658;
}

.salmon {
    color: #E14658;
}

.bgnd-navy {
    background-color: #22252C;
}

.navy {
    color: #22252C;
}

.bgnd-purple {
    background-color: #3F3250;
   
}

.purple {
    color: #3F3250;
}

.bgnd-rock {
    background-color: #C0B3A0;
}

.rock {
    color: #C0B3A0;
}

.md-deep-purple {
    color: #4527A0;
}

.bgnd-md-deep-purple {
    background-color: #4527A0;
}
.high {
    font-size: 20px;
    width: 1069.5px;
}

.page-width {
    width:1069.5px;
}

.photo {
    position: relative;
    width: 1069.5px;
    height: 712px;
}

.titleBar {
    position: absolute;
    top: 500px;
    width: 1069.5px;
    height: 65px;
    background-color: #3f3250;
    font-size: 48px;
    color: #C0B3A0;
}

.loginInfo {
    position: absolute;
    top: 650px;
    color: #f2efec;
    padding-left: 500px;
    font-size: 18px;
}

.homeList {
    display: inline;
    /*width:auto;*/
}

.homeUList {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 1069.5px;
    text-align: center;
}


a, [ui-sref] {
    cursor: pointer;
    color: #C0B3A0;
}

    a:hover, [ui-sref]:hover {
        color: #E14658;
    }

.flex-col {
    display: flex;
    flex-direction: column;
    /*background-color: red;*/
}

.flex-row {
    display: flex;
    flex-direction: row;
    /*background-color: blue;*/
}


.sideBarUList {
    list-style-type: none;
    margin: 0;
    padding: 0;
    /*text-align:center;*/
}

.myeventsideBarUlist {
    list-style-type: none;
    margin: 0;
    padding: 0;
    /*text-align:center;*/
}

.sideBarDiv {
    width: 30%;
    font-size: 16px;
}

.myeventsideBarDiv {
    width: 30%;
    font-size: 18px;
}

.sideBarDiv > ul > li > a {
    color: #3F3250;
}

.myeventsideBarDiv > ul > li > a {
    color: #3F3250;
}

    .myeventsideBarDiv > ul > li > a:hover {
        color: #E14658;
    }


.sideBarDiv > ul > li > a:hover {
    color: #E14658;
}

.containerMainCol {
    border: solid;
    border-width: 1px;
    border-color: #22252C;
}

.containerBottom {
    border-bottom:solid;
    border-width: 1px;
    border-color: #22252C;
}

.containerBottom:last-child {
    border:none;
}

.black-border {
    border-bottom: solid;
    border-bottom-width: 1px;
    border-bottom-color: #22252C;
}

.mainCol {
    font-size: 14px;
    width: 100%;
   
}

.content {
    width: 1069.5px;
}

.f-jc-sb {
    display: flex;
    justify-content: space-between;
}

.f-wrap {
    display: flex;
    flex-wrap: wrap;
}

.f-jc-fe {
    display: flex;
    justify-content: flex-end;
}

.f-jc-fs {
    display: flex;
    justify-content: flex-start;
}

.f-jc-c {
    display: flex;
    justify-content: center;
}

.f-jc-sa {
    display: flex;
    justify-content: space-around;
}

.img-fixed {
    height: 100px;
    width: 100px;
}

.f-as {
    display: flex;
    align-self: center;
}

.description-width-and-height {
    width: 400px;
    height: auto;
}

.ta-center {
    text-align: center;
}

.p-fixed {
    position: fixed;
    height: auto;
}

.ai-c {
    display: flex;
    align-items: center;
}

.btn1 {
    padding: 0 6px 0 6px;
    margin: 6px 8px 6px 8px;
    min-width: 88px;
    border-radius: 3px;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    border: none;
    outline: none;
}


.md-button.md-raised:not([disabled]) {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);

    color: #3F3250;

    color: #3F3250

}

.md-button.md-cornered {
    border-radius: 0;
}




.ta-j {
    text-align: justify;
}


.f-as-c {
    display:flex;
    align-self: center;
}

/*!
 * Start Bootstrap - Simple Sidebar (http://startbootstrap.com/)
 * Copyright 2013-2016 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap/blob/gh-pages/LICENSE)
 */

 body {
    overflow-x: hidden;
 }
.delete {
    color:white;
    background-color:red;
}

.submit {
    color:white;
    background-color:#0D47A1;
}


/* Toggle Styles */

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    /*background: #000;*/
    background: #3F3250;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    /*color: #999999;*/
    color: #C0B3A0;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    /*color: #fff;
    background: rgba(255,255,255,0.2);*/
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    /*color: #999999;*/
    /*color: #C0B3A0;*/
}

.sidebar-nav > .sidebar-brand a:hover {
    /*color: #fff;*/
    background: none;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}

.place>a {
    /*border-right:solid 1px #C0B3A0;
    border-bottom:solid 1px #C0B3A0;
    border-top:solid 1px #C0B3A0;*/
    text-align:center;
    padding:8px 16px;
}

.place>a:first-child{
    /*border-left:solid 1px #C0B3A0;*/
}

.place>a:hover {
    background-color:#C0B3A0;
    color:#3F3250;
}

.underline {
    text-decoration:underline;
}

#eventAddContainer{
    display:flex;
    flex-direction:row;
    justify-content:flex-start;
}

.ease{
    
    transition-property:height;
    transition-duration:1s;
    transition-delay:2s;
    transition-timing-function:ease;

}

.opacity {
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:normal;
}

.lineheight {
}

md-checkbox {
    box-sizing: border-box;
    display: inline-block;
    margin-top: 15px;
    margin-bottom: 5px;
    white-space: nowrap;
    cursor: pointer;
    outline: none;
}
.md-checkbox-label {
    margin-top: 20px;
    margin-bottom: 20px;
}
ng-md-icon {
    padding-top: -15px;
}
#eventAddContainer, #eventAddRadioGroup, #eventAddSelect, #eventAddCheckbox, #eventUpdateContainer, #eventUpdateRadioGroup, #eventUpdateCheckbox  {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
}

    line-height:1px;
}

.paddingRight{
    padding-right:20px;
}

.dateFont{
    font-size:20px;
    font-weight:bold;
}

.width100{
    width:100%;
}

.card{
    width:350px;
    height:350px;
}
md-input-container label{
    color: #C0B3A0;
    fill: #C0B3A0; 
}

