<html xmlns="http://www.w3.org/1999/xhtml" ng-app="GroupProject">
<head>
    <title>WHN</title>
    <link href="~/lib/angular-material/angular-material.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="~/lib/angular-material-datetimepicker/css/material-datetimepicker.min.css" rel="stylesheet" />
    <link href="~/lib/angular-material/modules/js/icon/icon.css" rel="stylesheet" />
    <link type="text/css" href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="~/css/site.css" rel="stylesheet" />
    <base href="/" />
</head>
<body ng-controller="AccountController as account" ng-cloak>
    <div  class="flex-col ai-c">
        @*<h1>WHN</h1>*@

        
        <div class="flex-row f-jc-c ai-c place high width100 topBar bgnd-darkpurple">
            <a ui-sref="home">Home</a>
            <a ui-sref="groups">Find Groups</a>
            <a ui-sref="eventSearch">Find Events</a>
            

            <a ui-sref="login" ng-show="!account.isLoggedIn()">Login</a>
            <a ui-sref="#" ng-click="account.logout()" ng-show="account.isLoggedIn()">Logout</a>
            </div>
            <div class="flex-row f-jc-c ai-c font12 width100 topBar bgnd-darkpurple" ng-show="account.isLoggedIn()">

                    Welcome, {{account.getUserName()}} <a ui-sref="myaccount">(My Account)</a>
        </div>
        <ui-view></ui-view>
    </div>
        

    <!-- Library Files -->
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/angular/angular.js"></script>
    <script src="~/lib/angular-resource/angular-resource.js"></script>
    <script src="~/lib/angular-animate/angular-animate.js"></script>
    <script src="~/lib/angular-touch/angular-touch.js"></script>

    <script src="~/lib/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="~/lib/angular-aria/angular-aria.js"></script>
    <script src="~/lib/angular-material/angular-material.js"></script>
    <script src="~/lib/momentjs/moment.js"></script>
    <script type="text/javascript" src="~/lib/angular-material-datetimepicker/beautifier.js"></script>

    <script type="text/javascript" src="~/lib/angular-material-datetimepicker/js/demo.js"></script>

    <script type="text/javascript" src="~/lib/angular-material-datetimepicker/js/angular-material-datetimepicker.js"></script>
    <script type="text/javascript" src="~/lib/angular-messages/angular-messages.js"></script>
    <script type="text/javascript" src="~/lib/angular-material-icons/angular-material-icons.js"></script>
    <script type="text/javascript" src="~/lib/angular-material/modules/js/core/core.js"></script>

    <!-- App Files-->
    <script src="~/ngapp/app.js"></script>
    <script src="~/ngapp/controllers/controllers.js"></script>
    <script src="~/ngapp/services/services.js"></script>


    <!-- Security -->
    <script src="~/ngapp/controllers/accountcontroller.js"></script>
    <script src="~/ngapp/services/accountservice.js"></script>

</body>
</html>
